{% extends "index.html" %} {% block main %}
<main
  class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900"
>
  <div class="text-center">
    <!-- 404 error message -->
    <h1 class="text-9xl font-bold text-red-500 mb-4">404</h1>
    <p class="text-xl text-gray-700 dark:text-gray-300 mb-6">
      Sorry, the page you're looking for cannot be found.
    </p>

    <!-- Suggestion to go back home -->
    <a
      href="/"
      class="px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-700 transition duration-300"
    >
      Go Back to Home
    </a>
  </div>
</main>
{% endblock main %}
